<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="SG">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
<link type="text/css" rel="stylesheet" href="css/bootstrap-theme.min.css">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
<script type="text/javascript" src = "jquery.js"></script>
<script type="text/javascript" src = "bootstrap.min.js"></script>
<script type="text/javascript" src = "lib/angular.min.js"></script>
<script type="text/javascript" src = "lib/angular-resource.min.js"></script>
<script type="text/javascript" src = "app.js"></script>
</head>
<body ng-app = "SG" ng-controller="HttpController" >

<div class="jumbotron" style="padding: 1px;text-align: center;margin-top: 0px;margin-bottom: 0px;">
<h1 style="font-size: 48px;margin-top: 0px;">Science Gateway</h1><h3>A job scheduler for Karst computer structure by Team
							Zenith</h3></div>
<div>
<section>
<ul class = "nav nav-pills nav-justified">
<li ng-class ="{active:tab ===1}"> <a href ng-click="tab =1">Submit job</a></li>
<li ng-class ="{active:tab ===2}"><a href ng-click="tab =2">Monitor Job</a></li>
<li ng-class ="{active:tab ===3}">	<a href ng-click="tab =3">CanceJob</a></li>
</ul>
</section>
</div>
<div class = "panel" ng-show="tab ===2">
<div class="container">
<div class="col-sm-8 col-sm-offset-2">
    
    <!-- PAGE HEADER -->
    <div class="page-header"><h1>Monitor Job Form</h1></div>
   
    <!-- FORM -->
    <!-- pass in the variable if our form is valid or invalid -->
    <form name="userForm"  ng-submit="uploadFile()" novalidate> <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->

        <!-- NAME -->
        <div class="form-group">
            <label>Enter the Username :</label>
            <input type="text" name="name" class="form-control" ng-model="name" >
            <p ng-show="userForm.name.$invalid" class="help-block">You name is required.</p>
            
        </div>

        <!-- USERNAME -->
        <div class="form-group">
            <label>Enter the passphrase(if any)</label>
            <input type="text" name="passphrase" class="form-control" ng-model="passphrase">
			<p ng-show="userForm.name.$invalid" class="help-block">You name is required.</p>
        </div>
        
        <!-- EMAIL --
        <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" class="form-control" ng-model="email">
            <p ng-show="userForm.email.$invalid" class="help-block">Enter a valid email.</p>
        </div>
   -->
            <!-- NO OF HOURS -->
        <div class="form-group">
            <label>Enter the job number</label>
            <input type="number" name="size" class="form-control" ng-model="size" >
        </div>
        
        <!-- FILE UPLOAD -->
        <div class="form-group">
        <label>Upload private key</label>
          <input type="file" file-model="myFile"><br /> 
        
<!--          <input type="file" name="file" file-model="myFile" onchange="angular.element(this).scope().uploadedFile(this)" 	 />-->
		</div>
		
        <!-- SUBMIT BUTTON -->
        <div class="form-group">
        <button type="submit" class="btn btn-primary" ng-disabled = "userForm.$invalid">Submit</button>
        </div>
    </form>
				
 <div ng-show = "PostValue" class="divTable">
 
  <h3>Result</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Job Name</th>
<th>Job owner</th><th>Job Status</th><th>NodeCt</th>
        <th>User</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{datapost.jobname}}</td>
        <td>{{datapost.name}}</td>
        <td>{{datapost.jobstate}}</td>
        <td>{{datapost.nodect}}</td>
        <td>{{datapost.user}}</td>        
      </tr>
    </tbody>
  </table>
</div>
 </div>						
			</div><!-- col-sm-8 -->
</div><!-- /container -->


<div class = "panel" ng-show="tab ===1">
<div class="container">
<div class="col-sm-8 col-sm-offset-2">
    
    <!-- PAGE HEADER -->
    <div class="page-header"><h1>Submit Job Form</h1></div>


 <form name="userForms"  ng-submit="submitJob()" novalidate> <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->
	<div ng-show="CancelMessage" class="alert alert-success">
  <strong>Success!</strong> {{datapost.message}}
</div>

		<h3> User configuration parameters</h3>		
        <!-- NAME -->
        <div class="form-group">
            <label>Enter the Username :</label>
            <input type="text" name="names" class="form-control" ng-model="names" >
            <p ng-show="userForms.name.$invalid" class="help-block">You name is required.</p>
            
        </div>

        <!-- USERNAME -->
        <div class="form-group">
            <label>Enter the passphrase(if any)</label>
            <input type="text" name="passphrases" class="form-control" ng-model="passphrases">
			<p ng-show="userForms.name.$invalid" class="help-block">You name is required.</p>
        </div>
           <!-- EMAIL ---->
        <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" class="form-control" ng-model="email">
            <p ng-show="userForm.email.$invalid" class="help-block">Enter a valid email.</p>
        </div>
   
            
        <!-- FILE UPLOAD -->
        <div class="form-group">
        <label>Upload private key</label>
          <input type="file" file-model="myFiles"><br /> 
        
<!--          <input type="file" name="file" file-model="myFile" onchange="angular.element(this).scope().uploadedFile(this)" 	 />-->
		</div>

		<div class="page-header">
		<h3> Job configuration parameters</h3>		
		  </div>
		
		
		 <!-- JOB NAME -->
        <div class="form-group">
            <label>Enter the job name:</label>
            <input type="text" name="jobName" class="form-control" ng-model="jobName" required >
            <p ng-show="userForms.jobName.$invalid" class="help-block">Your Job name is required.</p>
            
        </div>
        
        
        <!-- NO OF NODES-->
        <div class="form-group">
            <label>Enter the number of nodes:</label>
            <input type="number" name="noofnodes" class="form-control" ng-model="noofnodes" min = "1" value="1">
        </div>
        
        <!-- NO OF PPN-->
        <div class="form-group">
            <label>Enter the number of ppn:</label>
            <input type="number" name="noofppn" class="form-control" ng-model="noofppn" min = "1" value="1">
        </div>
        
        <!-- WALLTIME-->
        <div class="form-group">
            <label>Enter the walltime:</label>
            <input type="number" name="walltime" class="form-control" ng-model="walltime"  value="10.00">
        </div>
 
        <!-- Enter the target path: -->
        <div class="form-group">
            <label>Enter the target path:</label>
            <input type="text" name="path" class="form-control" ng-model="path">
        </div>
        
        <!-- FILE UPLOAD -->
        <div class="form-group">
        <label>Job File</label>
          <input type="file" file-model="jobFile"><br /> 
        
<!--          <input type="file" name="file" file-model="myFile" onchange="angular.element(this).scope().uploadedFile(this)" 	 />-->
		</div>
		<!-- COMPILATION REQUIRED -->
		<div>
		<label> Compilation required?</label>		<label>
        <input type="radio" name="isCompile"
               value="Yes" ng-model="compreq" checked="checked"/>Yes</label>
    	<label>
        <input type="radio" name="isCompile"
               value="No" ng-model="compreq" />No</label></div>
		
        <!-- SUBMIT BUTTON -->
        <div class="form-group">
        <button type="submit" class="btn btn-primary" ng-disabled = "userForms.$invalid">Submit</button>
        </div>
    </form>
	

</div>

</div>
</div>
<div class = "panel" ng-show="tab ===3">
<div class="container">
<div class="col-sm-8 col-sm-offset-2">
    
    <!-- PAGE HEADER -->
    <div class="page-header"><h1>Cancel Job Form</h1></div>


 <form name="userFormc"  ng-submit="cancelJob()" novalidate> <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->
	<div ng-show="CancelMessage" class="alert alert-success">
  <strong>Success!</strong> {{datapost.message}}
</div>
        <!-- NAME -->
        <div class="form-group">
            <label>Enter the Username :</label>
            <input type="text" name="name" class="form-control" ng-model="namec" >
            <p ng-show="userFormc.name.$invalid" class="help-block">You name is required.</p>
            
        </div>

        <!-- USERNAME -->
        <div class="form-group">
            <label>Enter the passphrase(if any)</label>
            <input type="text" name="passphrase" class="form-control" ng-model="passphrasec">
			<p ng-show="userFormc.name.$invalid" class="help-block">You name is required.</p>
        </div>
        
            <!-- JOB NO -->
        <div class="form-group">
            <label>Enter the job number</label>
            <input type="number" name="size" class="form-control" ng-model="jobnum" >
        </div>
        
        <!-- FILE UPLOAD -->
        <div class="form-group">
        <label>Upload private key</label>
          <input type="file" file-model="myFile"><br /> 
        
<!--          <input type="file" name="file" file-model="myFile" onchange="angular.element(this).scope().uploadedFile(this)" 	 />-->
		</div>
		
        <!-- SUBMIT BUTTON -->
        <div class="form-group">
        <button type="submit" class="btn btn-success btn-lg btn-block" ng-disabled = "userFormc.$invalid">Submit</button>
        </div>
    </form>
	

</div>

</div>
</div>
</body>
</html>